\.idea/

*.sqlite3

media/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*/migrations/0*.py
/__pycache__/


core/__pycache__/

estocasticos/__pycache__/

core/migrations/__pycache__/
